<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <title>
      {% block title %}Generic Hipster Coffee{% endblock %}
    </title>
  </head>

  <body>

    <header>

      <div class="bg-light">
        <div class="container px-0">
          <nav class="navbar navbar-expand navbar-light flex-sm-row justify-content-center justify-content-sm-between flex-wrap flex-sm-nowrap text-nowrap mb-5 px-0">

            <a class="navbar-brand text-center text-md-left mr-0 mr-md-3" href="/">
              <img alt="Generic hipster coffee" class="img-fluid" src="/img/logo.svg">
            </a>
            <div class="navbar-nav">
              <a class="{% block activeIndex %}{% endblock %} nav-item nav-link mx-sm-2 pl-sm-4 pr-sm-0" href="/">Home</a>
              <a class="{% block activeMenu %}{% endblock %} nav-item nav-link mx-sm-2 pl-sm-4 pr-sm-0" href="/menu">Menu</a>
              <a class="{% block activeCoffee %}{% endblock %}nav-item nav-link mx-sm-2 pl-sm-4 pr-sm-0" href="/coffee">Coffee</a>
              <a class="{% block activeOurStory %}{% endblock %}nav-item nav-link mx-sm-2 pl-sm-4 pr-sm-0" href="/our-story">Our Story</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}
    <footer class="bg-dark text-white-50 text-center py-5">

      <div class="container">
        <nav class="nav justify-content-center flex-wrap flex-xs-nowrap text-nowrap mt-4 mb-5 pb-4">
          <a class="{% block activeIndex %}{% endblock %} hc-link-underline nav-item nav-link text-primary p-2 m-1 p-sm-4 m-sm-1" href="/">Home</a>
          <a class="{% block activeMenu %}{% endblock %} hc-link-underline nav-item nav-link text-primary p-2 m-1 p-sm-4 m-sm-1" href="/menu">Menu</a>
          <a class="{% block activeCoffee %}{% endblock %} hc-link-underline nav-item nav-link text-primary p-2 m-1 p-sm-4 m-sm-1" href="/coffee">Coffee</a>
          <a class="{% block activeOurStory %}{% endblock %} hc-link-underline nav-item nav-link text-primary p-2 m-1 p-sm-4 m-sm-1" href="/our-story">Our Story</a>
        </nav>

        <p class="hc-footer-text-white hc-footer-text-white-bigger text-uppercase font-weight-bold lead pt-2">#hipstersmakecoffee</p>
        <p class="hc-footer-text-white">Follow us on
          <a class="text-primary" href="#">Twitter</a>
          and
          <a class="text-primary" href="#">Instagram</a>
        </p>

      </div>
    </header>

  </footer>
  {#
                  <!-- Optional JavaScript -->
                  <!-- jQuery mx-sm-2first, then Popper.js, then Bootstrap JS and your own script at the end -->
                  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                  <script src="js/custom.js"></script>
                  #}
</body></html>
