{% extends '_base.twig' %}

{% block title %}
  Menu &ndash; Generic Hipster Coffee
{% endblock %}

{% block content %}
  <main>
    
    <h2>Espresso Coffee</h2>
    <p>
      <span>Espresso</span>
      <span>3.8</span>
    </p>
    <p>
      <span>Double espresso</span>
      <span>4.9</span>
    </p>
    <p>
      <span>Americano</span>
      <span>5</span>
    </p>
    <p>
      <span>Espresso machiato</span>
      <span>4.3</span>
    </p>
    <p>
      <span>Cappuccino</span>
      <span>5.2</span>
    </p>
    <p>
      <span>Flat White</span>
      <span>5.9</span>
    </p>
    <p>
      <span>Latte</span>
      <span>5.9</span>
    </p>
    <p>
      <span>Extra shot</span>
      <span>1.1</span>
    </p>

    
    <h2>Filter coffee</h2>
    <p>
      <span>House Drip Coffee</span>
      <span>4.5</span>
    </p>
    <p>
      <span>Aeropress</span>
      <span>5.5</span>
    </p>
    <p>
      <span>V60</span>
      <span>6.5</span>
    </p>
    <p>
      <span>Kalita</span>
      <span>12</span>
    </p>

    
    <h2>Coffee specialites</h2>
    <p>
      <span>Cascara</span>
      <span>4.9</span>
    </p>
    <p>
      <span>Irish coffee</span>
      <span>10.9</span>
    </p>

    
    <h2>Iced</h2>
    <p>
      <span>Iced Latte</span>
      <span>6.9</span>
    </p>
    <p>
      <span>Espresso on the rock</span>
      <span>4.9</span>
    </p>
    <p>
      <span>Iced Cascara</span>
      <span>5.5</span>
    </p>
    <p>
      <span>Affogato</span>
      <span>5.9</span>
    </p>
    <p>
      <span>Iced Flat white</span>
      <span>5.9</span>
    </p>
    <p>
      <span>Iced Filter</span>
      <span>5.8</span>
    </p>
    <p>
      <span>Iced tea</span>
      <span>4.9</span>
    </p>
    <p>
      <span>Iced chocolate</span>
      <span>6.2</span>
    </p>

    
    <h2>Hot</h2>
    <p>
      <span>Tea</span>
      <span>4.9</span>
    </p>
    <p>
      <span>Ginger tea</span>
      <span>4.5</span>
    </p>
    <p>
      <span>Hot chocolate</span>
      <span>4.5</span>
    </p>

    
    <h2>Non-alcoholic beverages</h2>

    <h3>Lemonades</h3>
    <p>
      <span>Fresh Squeezed Lemonade</span>
      <span>5</span>
    </p>
    <p>
      <span>Ginger Lemonade</span>
      <span>4.5</span>
    </p>
    <p>
      <span>Cascara Fizz Original</span>
      <span>5.8</span>
    </p>
    <p>
      <span>Club-mate Cola</span>
      <span>4.5</span>
    </p>
    <p>
      <span>Tonic Thomas Henry</span>
      <span>4.3</span>
    </p>

    <h3>Water</h3>
    <p>
      <span>Sparkling</span>
      <span>2.4</span>
    </p>
    <p>
      <span>Still</span>
      <span>2.4</span>
    </p>

    
    <h2>Alcoholic beverages</h2>

    <h3>Beer</h3>
    <p>
      <span>Small breweries on tap</span>
      <span>3.5</span>
    </p>
    <p>
      <span>Birell (bottled)</span>
      <span>3.5</span>
    </p>
    <p>
      <span>Cider Magnetic Apple</span>
      <span>4.5</span>
    </p>

    <h3>White Wine</h3>
    <p>
      <span>Chardonnay Les Vignes de L'Arque, France</span>
      <span>3.5</span>
    </p>
    <p>
      <span>Sauvignon Blanc, Château Le Sartre Blanc 2011</span>
      <span>3.8</span>
    </p>

    <h3>Red Wine</h3>
    <p>
      <span>Cuvée Côtes du Rhône Vigneros de Caracterem</span>
      <span>3.5</span>
    </p>
    <p>
      <span>Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span>
      <span>3.5</span>
    </p>

    <h3>Cocktails</h3>
    <p>
      <span>Gin Tonic</span>
      <span>9</span>
    </p>
    <p>
      <span>Cuba Libre</span>
      <span>9.9</span>
    </p>
    <p>
      <span>Mojito</span>
      <span>9.9</span>
    </p>

    <h3>Spirits</h3>
    <p>
      <span>Metaxa 12*</span>
      <span>7.5</span>
    </p>
    <p>
      <span>Tullamore Dew</span>
      <span>6.5</span>
    </p>
    <p>
      <span>Jameson Whiskey</span>
      <span>6.5</span>
    </p>
    <p>
      <span>Bombay, Añejo Suave</span>
      <span>6.8</span>
    </p>
    <p>
      <span>Ron Cubay, Añejo Suave</span>
      <span>6.5</span>
    </p>
    <p>
      <span>Tequila, El Jimador, Reposado</span>
      <span>6.2</span>
    </p>
    <p>
      <span>Vodka Finlandia</span>
      <span>5.5</span>
    </p>
    <p>
      <span>Bailey's</span>
      <span>5.5</span>
    </p>
    <p>
      <span>Jagermeister</span>
      <span>5.5</span>
    </p>
    <p>
      <span>Graham's Tawny Porto</span>
      <span>4.7</span>
    </p>

    
    <h2>Something to eat</h2>
    <p>
      <span>Soup of the day</span>
      <span>5.8</span>
    </p>
    <p>
      <span>Chipotle Citrus Chicken Sandwich</span>
      <span>5.4</span>
    </p>
    <p>
      <span>Avocado Toast</span>
      <span>5.6</span>
    </p>
    <p>
      <span>Super BLT Sandwich</span>
      <span>12.8</span>
    </p>

    
    <h2>Sweets</h2>
    <p>
      <span>Homemade cakes of the day</span>
      <span>5</span>
    </p>
    <p>
      <span>Key Lime and Coconut</span>
      <span>1.5</span>
    </p>
    <p>
      <span>Icecream</span>
      <span>2</span>
    </p>
    <p>
      <span>Tiramisu</span>
      <span>6</span>
    </p>

    <img alt="Generic hipster coffee menu" class="img-fluid w-50" src="/img/espresso-machine-detail.jpg">
  </main>

{% endblock %}