{% extends '_base.twig' %}

{% block title %}
    Our Story &ndash; {{ parent() }}
{% endblock %}

 {% block activeOurStory %}
 active
 {% endblock %}

{% block content %}
    <main>
      <div class="container">
        <h1 class="mt-5 mb-3">Our Story</h1>

        <p class="mb-5 lead">GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010.
            Believing as much in the hand of an educated barista as in the innovative equipment of the ever-growing industry, GHC offers a full spectrum of brewing opportunities &ndash; from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with love, precision and care.
         </p>
        <img alt="Generic hipster espresso machine" class="img-fluid mb-n5" src="/img/machine-modified.jpg">


      </div>
    </main>

{% endblock %}
