{% extends '_base.twig' %}

{% block title %}
    Our Story &ndash; Generic Hipster Coffee
{% endblock %}

{% block content %}
    <main>
        <h1>Our Story</h1>
        
        <img alt="Generic hipster espresso machine" class="img-fluid w-50" src="/img/espresso-machine.jpg">

        <p>GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010. 
           Believing as much in the hand of an educated barista as in the innovative equipment of the ever-growing industry, GHC offers a full spectrum of brewing opportunities &ndash; from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with love, precision and care.
        </p>
    </main>

{% endblock %}