.hc-menu-item {
    max-width: 27rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.card {
    max-width: 20.5rem;
    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }
}

.navbar-brand img {
  width: 66%;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}