.hc-menu-item {
    max-width: 27rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.card {
    max-width: 20.5rem;
    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }
}

.navbar-brand {
        flex: 0 1 auto;
    @include media-breakpoint-up(md) {
        flex: 0 1 150px;
    }
}

.navbar-brand img {
  width: 66%;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.text-primary.active {
    color:rgba(255,255,255,.5)!important
}

.nav-link {
    text-decoration: none;
}
